
/* Less Framework 4 Overrides 
   THIS FILE IS FOR 5 COLUMNS LAYOUT DEFINITIONS ONLY
   NO HEIGHTS, WIDTHS, PADDINGS OR MARGINS THAT WON'T BE APPLICABLE FOR 480px SCREEN RESOLUTION */
   
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

body {
  margin-left: 0px;
  margin-right: 0px;
  padding: 36px 22px 48px;
  width: 436px;
}
body.sidebar-first #content, 
body.sidebar-second #content, 
body.two-sidebars #content, 
body.two-sidebars #sidebar-first,
body.two-sidebars #sidebar-second, 
#sidebar-first, 
#sidebar-second {
  left: 0%;
  width: 100%;
}
input.form-text {
  width: 400px;
}
/*	Typography overrides
	------------------	*/
.huge, h1 {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 36px;
}
.large, h2 {
  font-size: 18px;
  line-height: 28px;
}
/* adjusting 5 columns layout
	-----------------------------------	*/	
/* Boron's Skip to navigation link 
   For modifying skip-links above the header look into the less-layout.css file */
p#skip-link {
  position: relative;
  left: 0px;
}
body.two-sidebars div#content.column,
body.one-sidebar div#content.column,
body.one-sidebar.sidebar-second div#content.column,
nav#navigation,
body.one-sidebar aside#sidebar-first.column.sidebar,
body.two-sidebars aside#sidebar-first.column.sidebar,
body.one-sidebar aside#sidebar-second.column.sidebar,
body.two-sidebars aside#sidebar-second.column.sidebar,
footer#footer {
  float: left;
  display: inline;
  position: relative;
  width: 100%;
  padding: 0px;
  top: 0px;
  left: 0px;
}

} /* END Media Query for Wide Mobile Layout: 480px. */