/* CSS for mrp subtheme */

#header { 
  position:absolute;
  left:0;
  top:78px;
  width:100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* backgrounds */

html {
  background: none repeat scroll 0 0 #E2F1E8
}

body {
	background: none repeat scroll 0 0 #E2F1E8;
	color: #222222;
}

#main-wrapper {
  background-color: #f0F5FB;
}

#sidebar-first {
  background-color: #E2F1E8;
  border-left: 1px solid #C8E5D4;
}

/* menubar */
nav#navigation, nav#secondary-navigation {
  display: block;
  width: 100%;
  float: none;
}

nav#navigation { 
	height: 4opx;
}

#secondary-navigation { 
  background: #AED7BE; 
  color: #275E2E;
  border-bottom: 1px solid #80Be96;
}

#navigation a { 
  color: #222;
  font-variant: small-caps; 
  font-weight: bold;
  font: 17px/24px Calibri,'Helvetica Neue',Arial,sans-serif;
  height: 38px; 
  line-height: 38px; 
  padding: 10px 6px 0; 
  text-transform: uppercase; 
  text-decoration: none;
}

#secondary-navigation a { 
	font: 17px/24px Calibri,'Helvetica Neue',Arial,sans-serif;
  color: #275E2E;
  padding: 10px 6px 0; 
  text-decoration: none;
}

#main-menu, #secondary-menu {
  margin: 0 auto; 
  padding-right: 12px; 
  width: 902px; 
}

#navigation  li.last a {
    color: #E2F1E8;
}


#navigation  li.last:after {
	  content: url("http://inspireme.mainerural.org/sites/all/themes/mrp/images/mrp-header.png");
    margin-left: 120px;
    height: 2px;
    width: 252px;
}

/* button */

#sidebar-first h2.just5button { 
	background: url("http://inspireme.mainerural.org/sites/all/themes/mrp/images/just5-clipped.png") no-repeat scroll 0 0 transparent;
	no-repeat 0 0; 
	height: 138px; 
	float: left; 
	margin: -18px 12px 0 -80px; 
	overflow: hidden; 
	text-indent: -9999px; 
	width: 146px; 
	z-index: -1; 
}


/* geometry */
body {
  padding-top: 65px;
}

#page-wrapper {
    height: 100%;
    position: relative;
    top: 92px;
}

.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  float: left;
  display: block;
}

/*
px      68    160    252    344    436    528    620    712    804    896    */
*/

.region-footer-firstcolumn {
    left: 0px;
    position: relative;
    width: 158px;
}
.region-footer-secondcolumn {
    position: relative;
    width: 158px;
}

.region-footer-thirdcolumn {
    position: relative;
    width: 158px;
}

.region-footer-fourthcolumn {
    position: relative;
    left: 24px;
    width: 158px;
}

.region-footer-firstcolumn .legal {
  width: 158px;
}

/* pulled quotes */
.pullquote { 
  background: #1958bf; 
  color: #e1ebf8; 
  float: right; 
  margin: 24px 12px 24px 24px; 
  padding: 12px 24px; 
  width: 240px; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; 
  }
                    
.pullquote blockquote { font: italic 18px/24px Candara, "Helvetica Neue", Arial, sans-serif; margin: 0; }
.pullquote blockquote p { margin: 0; }
.pullquote blockquote p + p { text-indent: 24px; }
.pullquote blockquote div.cite { display: block; font-size: 13px; font-style: normal; line-height: 18px; margin-top: 6px; text-align: right; }
.pullquote blockquote div.cite:before { content: '— '; }


/* book navigation */
#block-mrp-book-utils-navigation { font-size: 14px; list-style: none; }
#block-mrp-book-utils-navigation li.completed:after { background: #52a269; border-radius: 3px; color: #e2f1e8; content: '✓'; font-family: 'Arial Unicode', sans-serif; line-height: 18px; margin-left: 6px; padding: 2px 4px; }
#block-mrp-book-utils-navigation li a { 
	margin-left: -2px; 
	padding: 0 2px; 
	border-radius: 3px; 
	text-decoration: none;
  color: #00853F;
}
	
#block-mrp-book-utils-navigation li a.active { 
	background: #fff; 
	color: #275e2e; 
	font-weight: normal;
}

#block-mrp-book-utils-navigation li ul { 
	border-left: 2px solid rgba(255, 255, 255, 0.5); 
	list-style: none; 
	margin-bottom: 12px; 
	padding-left: 10px; 
	}
	
#block-mrp-book-utils-navigation li.expanded, #block-mrp-book-utils-navigation li.leaf {
	list-style-image: none;
	list-style-type: none;
}
	
#block-mrp-book-utils-navigation li ol ol { 
	margin-bottom: 0; 
}

#block-mrp-book-utils-navigation a:hover {
  color: black;
  text-decoration: underline;
}

/* Fonts */

body {
  font: 17px/24px Calibri, 'Helvetica Neue', Arial, sans-serif;
}


h1 {
  font: 44px/48px Calibri, 'Helvetica Neue', Arial, sans-serif;
  
}

/* This is a hack to get the headline out of the way of
   the 5% badge. This does not scale; what about more 
   edit tabs? And so on. */
h1#page-title {
	width: 426px;
}

#just5 {
	position: relative;
	top: -4px;
	padding-left: 24px;
	font: 17px/24px Calibri,'Helvetica Neue',Arial,sans-serif;
	margin-bottom: 36px;
}

#just5 ul {
  width: 200px;
  position: relative;
  left: 12px;
}

#just5 ul li {
	text-indent: -9px;
  list-style-image: none;
  list-style-type: none;
}

#just5 ul li:before {
    color: #97cbaa; 
    content: '►'; 
    display: inline-block; 
    font-size: 12px; 
    vertical-align: 1px; 
    width: 8px;
}

#just5 a {
	text-decoration: none;
	color: #00853F;
}

#footer-wrapper a, #footer-wrapper div { 
	font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  color: #00853F;
}

#footer-wrapper a { 
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
}

#footer-wrapper a:hover {
	color: black;
	text-decoration: underline;
}

#footer-wrapper a.email {
	display: block;
  margin-top: 22px;
}

#footer-wrapper li {
	line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

/* footer hack */
a.head {
	margin-top: 22px;
	display: block;
  font-weight: bold;
}

div.legal {
  margin-top: 22px;
  font-size: 13px;
  line-height: 18px;
}

/* buttons */
input[type="submit"] { border: 1px solid; border-radius: 3px; cursor: pointer; height: 30px; line-height: 30px; }
input.preview { background: #a9c7eb; border-color: #8fb6e4; color: #123f86; float: right; font-size: 12px; }

/*
body.toolkit #page #toolkit #conversation .new input.save { background: #00853f; border-color: #275e2e; color: #e2f1e8; font-size: 14px; }
body.toolkit #page #toolkit #conversation .new input.save:hover, body.toolkit #page #toolkit #conversation .new input.save:focus { background: #52a269; border-color: #00853f; color: #f1f8f4; }
body.toolkit #page #toolkit #conversation .new input.preview:hover, body.toolkit #page #toolkit #conversation .new input.preview:focus { background: #8fb6e4; border-color: #76a4dd; color: #0c2853; }
*/

