.ds-top-left {
  float: left;
  width: 66%;
}

.ds-top-right {
  float: right;
  width: 33%;
}

.ds-middle-left {
  float: left;
  width: 33%;
}

.ds-middle-center {
  float: left;
  width: 33%;
}

.ds-middle-right {
  float: right;
  width: 33%;
}

.ds-header {
}


.ds-footer {
  clear: both;
}
